<body>
<h1>Raffling</h1>
<form id="form_user">
	<input type="text" name="user[name]"/>
	<button type="submit">Add</button>

<ul id="users_list">
	<% @users.each do |user| %>
	<li data-userid="<%= user.id %>" class="<%='winner' if user.winner%>"><%= user.name %>
	</li>
	<% end %>
</ul>
</form>
<button id="draw">Draw Winner</button>
</body>